@import url("colors.css");
@import url("components.css");
@import url("utilities.css");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
}

:root{

    --primary:#2563eb;
    --secondary:#0f172a;
    --success:#22c55e;
    --danger:#ef4444;
    --white:#ffffff;
    --border:#e5e7eb;
    --text:#1e293b;
}